# Remove this line first before doing anything else
___________PLOX_______REMOVE_____THIS_____LINE__________=True

#
# Get from https://my.telegram.org/
#
API_KEY="YOUR API KEY"
API_HASH="YOUR API HASH"

#
# Screenshot Layer API Key for .screenshot command
# Get from https://screenshotlayer.com/
# Please refer to README for getting the key
#
SCREENSHOT_LAYER_ACCESS_KEY=""

#
# OpenWeather Map API Key for .weather command
# Get from https://openweathermap.org/
#
OPEN_WEATHER_MAP_APPID=""

#
# In case you want to turn on logging, set this True.
#
BOTLOG=False

#
# Chat ID for Botlog.
# Get it from group management bots such as Marie or her forks.
# This is an integer, please don't wrap it in quotes.
#
BOTLOG_CHATID=0

#
# If you want verbosity on the Logging
#
CONSOLE_LOGGER_VERBOSE=False

#
# PM Auto-Ban Feature Switch
#
PM_AUTO_BAN=False

#
# Your MongoDB Atlas URL
#
MONGO_DB_URI=

#PostgreSQL, recommend for free: elephantsql.com
DATABASE_URL=


#
# YouTube Data API Key for .yt command
# Get it from https://console.cloud.google.com
#
YOUTUBE_API_KEY=""

#
#To obtain the cookies (valid for 1 year):
#
#1 Open a new Incognito window in Chrome (or another browser) at https://accounts.spotify.com/en/login?continue=https:%2F%2Fopen.spotify.com%2F
#2 Open Developer Tools in your browser (might require developer menu to be enabled in some browsers)
#3 Login to Spotify.
#4 Search/Filter for get_access_token in Developer tools under Network.
#5 Under cookies for the request save the values for sp_dc and sp_key.
#6 Close the window without logging out (Otherwise the cookies are made invalid).
SPOTIFY_DC=""
SPOTIFY_KEY=""

# You have to have your own unique two values for API_KEY and API_SECRET
# Obtain yours from https://www.last.fm/api/account/create for Last.fm
LASTFM_API=None
LASTFM_SECRET=None
LASTFM_USERNAME=None # Your last.fm username
LASTFM_PASSWORD="Your last.fm password"

# Bot will add before song name. For both last.fm and spotify bio modules.
# Example: GitHub: MacTavishAO : Skillet - Feel Invincible
BIO_PREFIX=""
# Default bio message
DEFAULT_BIO=""

# Detect and mute spambots which match the
# Paperplane algorithm after they join a group.
# Use at your own risk, the algorithm is in beta stage.
WELCOME_MUTE=False

#
# For tts, stt, etc. This should be the path to a json iam credentials
# file https://cloud.google.com/text-to-speech/docs/reference/libraries
# Move it to parent folder and name jsonkey.json
GOOGLE_APPLICATION_CREDENTIALS=./jsonkey.json

# Get an api key from https://free.currencyconverterapi.com/
CURRENCY_API=None

# Google Drive upload folder
GDRIVE_FOLDER=""

#get it from https://ocr.space/
OCR_SPACE_API_KEY =""

#take it from https://www.remove.bg/
REM_BG_API_KEY =""

#take it from kutt.it
KUTT_IT_API_KEY=

#take it from audiotag.info. 
AUDIOTAG_API =""

#your pc mac adress for Wake on LAN '0:0:0:0:0:0'
MAC=''

#take ACCESS_TOKEN in https://genius.com/api-clients
GENIUS_API=""

# wolframalpha.com
WOLFRAM_ID=""

# https://www.convertapi.com/
CONVERT_API=""

#default username for .alive
ALIVE_NAME=""

#default background voice (choose between cow, triage, ussr, r (default)). 
#All these files located in ./media. 
#You can add your own file and type below only name.
#Music file must be ogg libopus.
#Type BG_DEFAULT=0 for disabling feature
BG_DEFAULT="r"
